<div id="article">
	<div class="row">
		<div class="">
			<div class="card-panel grey lighten-4">
				<div class="  container">
					<div class="card-content black-text">
						<h5 class="card-title">{$data.title}</h5>
						<a href="{$data.website}" class="btn waves-effect waves-teal" title="点击查看原网页"><volist name="data['tag']" id="vo">{$vo.name}/</volist>{$data.category} {$data.ctime}</a>
						<div class="">{$data.content}</div>
					</div>
					<div class="card-action">

					</div>
					<!-- 多说评论框 start -->
					<div class="ds-thread" data-thread-key="{$data.id}" data-title="{$data.title}"></div>
					<!-- 多说评论框 end -->
					<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
					<script type="text/javascript">
						var duoshuoQuery = {short_name:"sculife"};
						(function() {
							var ds = document.createElement('script');
							ds.type = 'text/javascript';ds.async = true;
							ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
							ds.charset = 'UTF-8';
							(document.getElementsByTagName('head')[0]
							|| document.getElementsByTagName('body')[0]).appendChild(ds);
						})();
					</script>
					<!-- 多说公共JS代码 end -->
				</div>

			</div>


		</div>
	</div>
</div>
</div>


