<div class="am-g am-g-fixed">
    <div class="am-u-md-12">
        <div class="am-panel am-panel-primary">
            <div class="am-panel-hd">{$tag}</div>
            <div class="am-panel-bd">
                <ul class="am-list">
                    <volist name="list['list']" id="vo">
                        <li data-am-scrollspy="{animation:'scale-up',delay:'300'}">
                            <a href='{:U("Index/article",array("id"=>$vo["id"]))}'>{$vo.title}</a>
                            <div class="list-tag"><span class="am-icon-tag"></span><span>{$vo.category}</span></div>
                        </li>
                    </volist>
                    <div id="table-page">
                        {$list.page}
                    </div>

                </ul>
            </div>
        </div>
    </div>
</div>