<footer class="page-footer teal lighten-2" style="margin:0;">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">SCULIFE</h5>
				<p class="grey-text text-lighten-4">SCULIFE致力于打造川大官方通知公告，新闻资讯，活动预告等信息聚合平台，服务于喜欢参加比赛或者希望了解川大官方信息的同学或者是老师</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">友情链接</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="http://lxl520.com">LXL520</a></li>
					<li><a class="grey-text text-lighten-3" href="http://fyscu.com">飞扬俱乐部</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2015 Copyright SCULIFE
			<a  class="grey-text text-lighten-4 right main-a truncate hoverable waves-effect waves-teal"  href="mailto:1@lailin.xyz">联系我们</a>
		</div>
	</div>
</footer>

	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/materialize.min.js"></script>
	<script src="__PUBLIC__/js/index.js"></script>