<!--header开始-->
<nav class="teal lighten-2">
    <div class="nav-wrapper container ">
        <a href="{:U('Index/index')}" class="brand-logo waves-effect waves-light">SCULIFE</a>
        <a href="#" data-activates="mobile" class="button-collapse"><img style="margin-top:0.7em; " src="__PUBLIC__/img/menu.png"></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="" href="{:U('Index/index')}">首页</a></li>
            <volist name="category" id="vo">
                <li><a class=" dropdown-button" href="#!" data-activates='dropdown{$vo.id}'>{$vo.name}</a></li>
                <ul id='dropdown{$vo.id}' class='teal lighten-2 dropdown-content'>
                   <volist name="vo['son']" id="v">
                       <a class=" waves-effect waves-light" href="{:U('Index/articleList',array('tid'=>$v['id']))}">{$v.name}</a>
                   </volist>
                </ul>
            </volist>
            <li><a href="{:U('Admin/login')}">后台登陆</a></li>
        </ul>
        <ul class="teal lighten-2 side-nav" id="mobile">
            <li><a class=" waves-effect waves-ligh  waves-effect waves-lightt" href="{:U('Index/index')}">首页</a></li>
            <volist name="category" id="vo">
                <li><a class=" waves-effect waves-light dropdown-button " href="#!" data-activates='dropdown2{$vo.id}'>{$vo.name}</a></li>
                <ul id='dropdown2{$vo.id}' class='teal lighten-2 dropdown-content'>
                    <volist name="vo['son']" id="v">
                        <a class=" waves-effect waves-light" href="{:U('Index/articleList',array('tid'=>$v['id']))}">{$v.name}</a>
                    </volist>
                </ul>
            </volist>
            <li><a class=" waves-effect waves-light" href="{:U('Admin/login')}">后台登陆</a></li>
        </ul>
    </div>
</nav>

<!--header结束-->