<!--pc端显示页面，对小屏用户隐藏并且不加载图片-->
<span class="pc hide-on-small-only">
    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="__PUBLIC__/img/banner-1.jpg"></div>
        <div class=""></div>
    </div>
    <div class="section white ">
        <div class="row container">
            <div class="col s12 m6">
                <h2 class="header">SCULIFE公告牌</h2>
                <p class="grey-text text-darken-3 lighten-3">这里有你能用到的全川大所有的官方公告，如果没有请<a class="main-a truncate hoverable waves-effect waves-teal" href="mailto:1@lailin.xyz">联系我们</a></p>
            </div>
            <div class="main-number col s12 m6">
                <volist name="notice" id="vo">
                    <a  data-scroll-reveal="enter left and move 50px over 1.33s" href='{:U("Index/article",array("id"=>$vo["id"]))}' class="main-a truncate hoverable ">{$vo.title}</a>
                </volist>
            </div>
        </div>
    </div>

    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="__PUBLIC__/img/banner-2.jpg"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <div class="col s12 m6">
                <h2 class="header">SCULIFE新闻榜</h2>
                <p class="grey-text text-darken-3 lighten-3">这里有你想看到的全川大所有的官方新闻，如果没有请<a  class="main-a truncate hoverable waves-effect waves-teal"  href="mailto:1@lailin.xyz">联系我们</a></p>
            </div>
            <div class="main-number col s12 m6">
                <volist name="news" id="vo">
                    <a href='{:U("Index/article",array("id"=>$vo["id"]))}' class="main-a truncate hoverable ">{$vo.title}</a>
                </volist>
            </div>
        </div>
    </div>

    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="__PUBLIC__/img/banner-3.jpg"></div>
    </div>
</span>

<!--手机等小屏幕显示页面，对大屏用户隐藏-->
<span class="mobile hide-on-med-and-up">
     <div class="row">
         <div class="col s12 m7">
             <div class="card">
                 <div class="card-image">
                     <img src="__PUBLIC__/img/mob-1.jpg">
                     <div class="card-title">SCULIFE公告牌
                         <p style="font-size:12px;margin: 0 auto;" class="text-small">这里有你能用到的全川大所有的官方公告</p>

                     </div>
                 </div>
                 <div class="card-content">
                     <volist name="notice" id="vo">
                         <a  data-scroll-reveal="enter left and move 50px over 1.33s" href='{:U("Index/article",array("id"=>$vo["id"]))}' class="main-a truncate hoverable ">{$vo.title}</a>
                     </volist>
                 </div>
             </div>
         </div>
         <div class="col s12 m7">
             <div class="card">
                 <div class="card-image">
                     <img src="__PUBLIC__/img/mob-2.jpg">
                     <div class="card-title">SCULIFE新闻榜
                         <p  style="font-size:12px;margin: 0 auto;" class="text-small">这里有你能用到的全川大所有的官方新闻</p>

                     </div>
                 </div>
                 <div class="card-content">
                     <volist name="news" id="vo">
                         <a  data-scroll-reveal="enter left and move 50px over 1.33s" href='{:U("Index/article",array("id"=>$vo["id"]))}' class="main-a truncate hoverable ">{$vo.title}</a>
                     </volist>
                 </div>
             </div>
         </div>
     </div>

</span>