<div class="parallax-container">
    <div class="parallax"><img src="__PUBLIC__/img/banner-1.jpg"></div>
    <div class=""></div>
</div>
<div class="section white ">
    <div class="row container">
        <div class="col s12 m6">
            <h2 class="header">SCULIFE公告牌</h2>
            <p class="grey-text text-darken-3 lighten-3">这里有你能用到的全川大所有的官方公告，如果没有请<a class="main-a truncate hoverable waves-effect waves-teal" href="mailto:1@lailin.xyz">联系我们</a></p>
        </div>
        <div class="main-number col s12 m6">
            <volist name="notice" id="vo">
                <a href='{:U("Index/article",array("id"=>$vo["id"]))}' class="main-a truncate hoverable ">{$vo.title}</a>
            </volist>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="__PUBLIC__/img/banner-2.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="col s12 m6">
            <h2 class="header">SCULIFE新闻榜</h2>
            <p class="grey-text text-darken-3 lighten-3">这里有你想看到的全川大所有的官方新闻，如果没有请<a  class="main-a truncate hoverable waves-effect waves-teal"  href="mailto:1@lailin.xyz">联系我们</a></p>
        </div>
        <div class="main-number col s12 m6">
            <volist name="news" id="vo">
                <a href='{:U("Index/article",array("id"=>$vo["id"]))}' class="main-a truncate hoverable ">{$vo.title}</a>
            </volist>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="__PUBLIC__/img/banner-3.jpg"></div>
</div>
