<!--slider开始-->
<div class="slider ">
    <div data-am-widget="slider" class="am-slider am-slider-c2" data-am-slider='{&quot;directionNav&quot;:false}' >
        <ul class="am-slides">
            <li>
                <img src="__PUBLIC__/img/banner-1.jpg">
                <div class="am-slider-desc">远方 有一个地方 那里种有我们的梦想</div>
            </li>
            <li>
                <img src="__PUBLIC__/img/banner-2.jpg">
                <div class="am-slider-desc">某天 也许会相遇 相遇在这个好地方</div>
            </li>
        </ul>
    </div>
</div>
<!--slider结束-->