<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{$des}</strong> / <small>[sub]</small></div>
    </div>

    <div class="am-g">
        <div class="am-u-md-12">
            <table class="am-table am-table-bordered am-table-radius am-table-hover am-table-centered">
                <thead>
                <tr>
                    <th>选择</th>
                    <th>编号</th>
                    <th>标题</th>
                    <th>来源</th>
                    <th>分类</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <volist name="list" id="vo">
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{$i}</td>
                        <td><a href='{:U("Index/article",array("id"=>$vo["id"]))}'>{$vo.title}</a></td>
                        <td>{$vo.tag}</td>
                        <td>{$vo.category}</td>
                        <td>{$vo.ctime}</td>
                        <td><a class="am-text-danger" href="#">删除</a></td>
                    </tr>
                </volist>
            </table>
            <div id="table-page">
                {$page}
            </div>
            <p></p>
        </div>
    </div>
</div>