<extend name="base" />
<block name="head">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/tooltip.css">
</block>
<block name="header">
    <include file="header" />
</block>

<block name="main">
    <div class="am-cf admin-main">
        
        <include file="sidebar" />
        <div class="admin-content">
            <div class="am-g">
                <include file="system-header" />
                <switch name="Think.get.system">
                    <case value="add"><include file="system-add" /></case>
                    <default /><include file="system-list" />
                </switch>

            </div>
        </div>
    </div>
</block>
<block name="footer">
    <include file="footer" />
</block>
<block name="script">
<script src="__PUBLIC__/js/tooltip.js"></script>
 <script type="text/javascript">
   
    /**
     * 将手动抓取数据改成ajax交互，大大提高交互体验
     */
    $(".spider").unbind("click").click(function(){
        var btn=$(this);
        btn.button('loading');
        var url=btn.attr('url');
        $.get(url,function(data,status){
            if(data.status==1){
                 $('body').tooltip({
                  autoshow: true,
                  content: data.message,
                  style:'success',
                  duration:1000,
                  zIndex:9999
                });
                btn.button('reset');
            } 
        });
    });

    
</script>   
</block>

