<div class="am-cf am-padding">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">系统设置</strong>
        /
        <small>在这里进行相关的系统配置</small>
    </div>
</div>
<ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
    <li>
        <a href="{:U('Admin/systemConfig?system=list')}" class="am-text-success">
            <span class="am-icon-btn am-icon-file-text-o"></span>
            <br/>
            网站列表
            <br/>
        </a>
    </li>
    <li>
        <a href="{:U('Admin/systemConfig?system=add')}" class="am-text-warning">
            <span class="am-icon-btn am-icon-pencil-square-o"></span>
            <br/>
            添加网站
            <br/>
        </a>
    </li>
    <li>
        <a href="javascript:alert('正在建设中，尽请期待！')" class="am-text-danger">
            <span class="am-icon-btn am-icon-bell-o"></span>
            <br/>
            分类&便签
        </a>
    </li>
    <li>
        <a url="__URL__/spider" data-am-modal="{target: '#spider',  width: 400, height: 225}" class="spider am-text-secondary">
            <span class="am-icon-btn am-icon-circle-o"></span>
            <br/>
           手动抓取所有文章
        </a>
    </li>
</ul>
