<div class="am-u-md-12">
    <div class="am-panel am-panel-primary">
        <div class="am-panel-hd">所有网站</div>
        <div class="am-panel-bd am-scrollable-horizontal am-padding-0">
            <table class="am-table  am-text-nowrap am-table-hover am-table-centered">
                <thead>
                    <th>选择</th>
                    <th>编号</th>
                    <th>名称</th>
                    <th>分类</th>
                    <th>抓取网址</th>
                    <th>操作</th>
                </thead>
                <tbody>
                <volist name="config" id="vo">
                    <tr>
                        <td><input type="checkbox" name=""></td>
                        <td>{$i}</td>
                        <td>{$vo.tag}</td>
                        <td>{$vo.category}</td>
                        <td>{$vo.url}</td>
                        <td>
                            <a class="am-btn am-btn-xs am-btn-default" title="点击禁用" href="#">已启用</a>
                            <a class="am-btn am-btn-xs am-btn-primary" href="#">修改</a>
                            <a class="am-btn am-btn-xs am-btn-danger" href="#">删除</a>
                        </td>
                    </tr>
                </volist>

                </tbody>
            </table>
        </div>
    </div>
</div>
